* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.component{
    background: white;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    padding: 16px;
}

@media screen and (min-width:950px) {
    .component{
        width: 300px;
        height: 465px;
    }
}
img{
    height: 288px;
    width: 288px;
    border-radius: 10px;
}

@media screen and (min-width:950px) {
    img{
        height: 268px;
        width: 268px;
    }
}
.info{
    margin: 18px 13px;
    text-align: center;
}

h1{
    font-weight: bold;
    color: hsl(218, 44%, 22%);
    margin-bottom: 13px;
}
p{  
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

@media screen and (min-width: 950px){
    h1{
        font-size: 21px;
    }
}
footer{
    position: fixed;
    bottom: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

